* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(181, 179, 179);
}

.grid-container {
    display: grid;
    grid-template-areas:
        "HEADER HEADER"
        "SIDEBAR MAIN"
        "FOOTER FOOTER"
    ;
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 100% 5%;
}

.mainContent{
    grid-area: MAIN;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30%, 0fr));
    grid-template-rows: repeat(3, 30%);
    gap: 10px;
    margin-top: 0.5%;
}

    .navbar{
        grid-area: HEADER;
        text-align: center;
        display:flex;
        background-color: rgb(33, 81, 120);
        color: white;
        align-items: center;
        justify-content: center;
    }

    .sidebar{
        grid-area: SIDEBAR;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }

        .sidebar 
        >ul
        >li{
            margin-top: 5px;
        }

        .no-link{
            pointer-events:visibleStroke;
            text-decoration: none;
            color: black;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }
        .cantidad{
            color: grey;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
        }

        .producto{
            background-color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 90%;
            justify-content: space-between;
            gap: 10px;
        }
                .imgProducto{
                height: 60%;
                width: 60%;
                align-self: center;
                }
                .nombreProducto{
                    font-size: 18px;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 500;
                    font-style: normal;
                    color: black;
                    text-wrap: wrap;
                }
                .precioProducto{
                    font-size: 16px;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    color: black;
                }
                .botonProducto{
                    background-color: rgb(33, 81, 120);
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    height: 15%;
                }


    .footer{
        grid-area: FOOTER;
        text-align: center;
        display:flex;
        background-color: rgb(61, 66, 70);
        color: white;
        align-items: center;
        justify-content: center;
    }

